<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Hello {{ Name }}
    <hr />
    <div class="container">
      <app-user></app-user>
    </div>
    <div class="container">
      <app-users></app-users>
    </div> -->
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h3>Hello {{ Name }}</h3>
          <hr />
          <!-- <app-users></app-users> -->
          <!-- <div app-users></div> -->
          <div class="app-users"></div>
        </div>
      </div>
    </div>
  </body>
</html>
